body,
html {
  margin: 0;
  padding: 0;
  background-color: #a3dbe5; /* Light blue background outside the form */
  font-family: Arial, sans-serif;
}
.profile-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 93%;
  padding: 10px;
  background-color: #2c3e50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #1abc9c;
}

.fetch-profile-section {
  margin-top: 20px;
}

.fetch-profile-section label {
  margin-right: 10px;
}

.fetch-profile-section input {
  display: inline-block;
  width: auto;
  padding: 8px;
  margin-right: 10px;
}
